<div class="signUpContainer">
  <form #signInForm="ngForm" (ngSubmit)="forwardToCalculator(signInForm)">
    <div class="row">
      <div class="col-8">
        <input class="form-control" id="userName"  name='userName' ngModel placeholder="Enter user name"/>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-12 margin-left-48">
        <button class="btn btn-primary" type="submit">step-in</button>
      </div>
    </div>
  </form>
</div>
