<app-dashboard></app-dashboard>
<div>
  <form #calculatorForm="ngForm" (ngSubmit)="evaluateExpression(calculatorForm)" (change)="resetRest()">
    <div class="row">
      <div class="col-8 mt-3 ml-5 mr-5">
        <div class="row ml-5">
          <div class="col-4">
            <label for="operand1">Operand 1</label>
          </div>
          <div class="col-5">
            <input class="form-control" id="operand1" name='operand1' ngModel placeholder="Enter operand 1"
                   type="number"/>
          </div>
        </div>
        <div class="row mt-3 ml-5">
          <div class="col-4">
            <label for="operand2">Operand 2</label>
          </div>
          <div class="col-5">
            <input class="form-control" id="operand2" name='operand2' ngModel placeholder="Enter operand 2"
                   type="number"/>
          </div>
        </div>
        <div class="row mt-3 ml-5">
          <div class="col-4">
            <label for="operator">Operator</label>
          </div>
          <div class="col-5">
            <select ngModel name="operator" id="operator" class="form-control">
              <option [value]="operator.ADD" [label]="operator.ADD"></option>
              <option [value]="operator.SUBTRACT" [label]="operator.SUBTRACT"></option>
              <option [value]="operator.DIVIDE" [label]="operator.DIVIDE"></option>
              <option [value]="operator.MULTIPLY" [label]="operator.MULTIPLY"></option>
            </select>
          </div>
        </div>
        <div class="row mt-3 ml-5" *ngIf="result">
          <div class="col-4">
            <label for="operand2">Result</label>
          </div>
          <div class="col-5">
            <input class="form-control" id="result" name='result' [(ngModel)]="result" disabled/>
          </div>
        </div>
        <div class="row ml-5 mt-5">
          <div class="col-4">
            <button class="btn btn-primary" type="submit">Evaluate Expression</button>
          </div>
          <div class="col-2"></div>
          <div class="col-4">
            <button class="btn btn-success" name="postButton" type="button" (click)="postExpresion()">Post Expression</button>
          </div>
        </div>
      </div>
    </div>
  </form>

</div>
