<div class="container padding-top-10">
  <div class="row">
    <div class="col-4">
      <label>App Calculator</label>
    </div>
    <div class="col-4">
      <label></label>
    </div>
    <div class="col-4">
      <label (click)="logout()">Logout</label>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
