.font-bold {
  font-weight: bold;
}

.bg-color-gray {
  background-color: darkgray;
}
.bg-color-white{
  background-color: white;
}

.post-card {
  text-align: left;
  padding-left: 33%;
  padding-top: 2%;
  padding-bottom: 2%;
  margin-right: 10%;
  margin-left: 10%;
}

.post-container {
  border: 1px;
  height: 361px;
  overflow-y: scroll;
}
