<app-dashboard></app-dashboard>
<div>
  <div class="post-container">
    <div *ngFor="let post of posts" class="bg-color-gray post-card">
      <div class="pt-3">
        <span class="font-bold">Operation :</span><span> {{post.expression.operator}}</span><br>
        <span class="font-bold">Operand 1 :</span><span> {{post.expression.operand1}}</span><br>
        <span class="font-bold">Operand 2 :</span><span> {{post.expression.operand2}}</span><br>
        <span class="font-bold">Result :</span><span> {{post.expression.result}}</span><br>
        <span class="font-bold">Posted by :</span><span> {{post.postedBy}}</span>
      </div>
    </div>
  </div>
</div>
