<div class="row">
  <div class="col-3">
    <label [routerLink]="'/calculator'">Evaluate and Post Expression</label>
  </div>
  <div class="col-3">
    <label [routerLink]="'/post'">Read Recent Posts</label>
  </div>
</div>
